@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

.container {
  width: 58.75%;
  max-width: 1400px;
  margin: auto;
}

header {
  background-image: url("../images/trees1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  nav {
    background-color: red;
    height: 81px;
    display: flex;
    .logo {
      align-self: center;
    }
    .menu {
      display: flex;
      margin-left: auto;
      align-items: center;
      li {
        margin-right: 24px;
        a {
          color: $white;
          font-family: $font-roboto;
          font-size: 13px;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
