@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

.container {
  width: 58.75%;
  max-width: 1400px;
  margin: auto;
  height: auto;
}

header {
  background-image: url("../images/trees1.jpg");
  background-size: cover;
  background-position: center;
  overflow: auto;
  nav {
    height: 81px;
    display: flex;
    .logo {
      align-self: center;
    }
    .menu {
      display: flex;
      margin-left: auto;
      align-items: center;
      li {
        margin-right: 20px;
        &#mobilemenu {
          display: none;
        }
        a {
          color: $white;
          font-family: $font-roboto;
          font-size: 1.3rem;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          padding: 2px;
        }
        &:last-child {
          margin-right: 0px;
          padding-right: 0px;
        }
      }
    }
  }
  .intro {
    margin: 147px 0px 70px 0px;
    h1 {
      font-family: $font-playfair;
      font-weight: 900;
      font-size: 3.2rem;
      color: $white;
      text-align: center;
      text-transform: capitalize;
      padding-bottom: 60px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 25px);
        bottom: 27px;
        width: 50px;
        height: 1px;
        background-color: $turqoise;
      }
    }
    p {
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $white;
      text-align: center;
    }
    button {
      margin: 46px 0px 46px 0px;
      margin-left: calc(50% - 60px);
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      color: $white;
      background: none;
      border-color: $white;
      height: 40px;
      width: 120px;
      border-radius: 2px;
      border-style: solid;
      text-transform: uppercase;
    }
    .navbul {
      display: flex;
      margin-left: calc(50% - 27.5px);
      margin-top: 81px;
      div {
        border-radius: 50%;
        border: solid $white 1px;
        height: 10px;
        width: 10px;
        margin-right: 5px;
        &:last-child {
          margin-right: 0px;
        }
        &.active {
          background-color: $white;
        }
      }
    }
  }
}

main {
  #story {
    margin: 70px 0px;
    h1 {
      font-family: $font-playfair;
      font-weight: 700;
      font-size: 2.2rem;
      color: $title;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    h2 {
      font-family: $font-playfair;
      font-weight: 400;
      font-size: 1.4rem;
      color: $textsub;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 62px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 25px);
        bottom: -18px;
        width: 50px;
        height: 2px;
        background-color: $line;
      }
    }
    .logtext {
      // @include make-col(2, 116px);
      display: flex;
      img {
        margin: 0px 116px;
        height: 230px;
        width: 235px;
        margin-bottom: 29px;
      }
      p {
        margin-right: 10px;
      }
    }
    p {
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: $textsub;
      text-align: center;
    }
    button {
      // margin: 46px 0px 46px 0px;
      margin-left: calc(50% - 60px);
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      color: $turqoise;
      background: none;
      border-color: $turqoise;
      height: 40px;
      width: 120px;
      border-radius: 2px;
      border-style: solid;
      text-transform: uppercase;
    }
  }
  #clip {
    background-image: url("../images/skyline.jpg");
    background-size: cover;
    background-position: center;
    overflow: auto;
    div {
      font-size: 100px;
      width: 100px;
      color: $white;
      margin-left: calc(50% - 50px);
      margin-top: 200px;
      margin-bottom: 34px;
    }
    p {
      font-family: $font-roboto;
      font-weight: 900;
      color: $white;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 200px;
    }
  }
  #expertise {
    margin: 70px 0px;
    h1 {
      font-family: $font-playfair;
      font-weight: 700;
      font-size: 2.2rem;
      color: $title;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    h2 {
      font-family: $font-playfair;
      font-weight: 400;
      font-size: 1.4rem;
      color: $textsub;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 68px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 25px);
        bottom: -18px;
        width: 50px;
        height: 2px;
        background-color: $line;
      }
    }
    article {
      @include make-col(3, 0px);
      margin-bottom: 68px;
      > div {
        padding: 32px 19px 39px 19px;
        div {
          font-size: 50px;
          color: turquoise;
          margin-left: calc(50% - 25px);
          margin-bottom: 35px;
        }
        h3 {
          font-family: $font-roboto;
          font-weight: 900;
          font-size: 1.4rem;
          text-align: center;
          margin-bottom: 21px;
        }
        p {
          font-family: $font-roboto;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 2.2rem;
          text-align: center;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          border-right: solid $turqoise 1px;
        }
      }
      > div {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-bottom: solid $turqoise 1px;
        }
      }
    }
  }
  #team {
    background-image: url("../images/trees2.jpg");
    background-size: cover;
    background-position: center;
    overflow: auto;
    h1 {
      font-family: $font-playfair;
      font-weight: 700;
      font-size: 2.2rem;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      margin: 70px 0px 16px 0px;
    }
    h2 {
      font-family: $font-playfair;
      font-weight: 400;
      font-size: 1.4rem;
      color: $white;
      text-align: center;
      margin-bottom: 67px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 25px);
        bottom: -18px;
        width: 50px;
        height: 2px;
        background-color: $teal;
      }
    }
    article {
      @include make-col(4, 20px);
      div {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        .box {
          border: solid $turqoise 1px;
          h4 {
            font-family: $font-roboto;
            font-weight: 900;
            color: $white;
            font-size: 1.4rem;
            text-transform: uppercase;
            text-align: center;
            margin: 20px 0px 15px 0px;
          }
          p {
            font-family: $font-roboto;
            font-weight: 400;
            color: $white;
            font-size: 1.4rem;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 23px;
          }
        }
      }
    }
    button {
      margin-left: calc(50% - 60px);
      margin-top: 110px;
      margin-bottom: 70px;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      color: $turqoise;
      background: none;
      border-color: $turqoise;
      height: 40px;
      width: 120px;
      border-radius: 2px;
      border-style: solid;
      text-transform: uppercase;
    }
  }
  #work {
    h1 {
      font-family: $font-playfair;
      font-weight: 700;
      font-size: 2.2rem;
      color: $title;
      text-align: center;
      text-transform: uppercase;
      margin-top: 67px;
      margin-bottom: 20px;
    }
    h2 {
      font-family: $font-playfair;
      font-weight: 400;
      font-size: 1.4rem;
      color: $textsub;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 70px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 25px);
        bottom: -18px;
        width: 50px;
        height: 2px;
        background-color: $line;
      }
    }
    article {
      @include make-col(6, 0px);
      margin-bottom: 70px;
      width: 100%;
      div {
        display: block;
        content: "";
        width: auto;
        height: 200px;
        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(12) {
          background-color: lightgray;
        }
        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(11) {
          background-color: gray;
        }
        &:nth-child(3),
        &:nth-child(10) {
          background-color: darkgrey;
        }
        &:nth-child(4),
        &:nth-child(9) {
          background-color: darkslategray;
        }
      }
    }
    button {
      margin-left: calc(50% - 60px);
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      color: $turqoise;
      background: none;
      border-color: $turqoise;
      height: 40px;
      width: 120px;
      border-radius: 2px;
      border-style: solid;
      text-transform: uppercase;
      margin-bottom: 97px;
    }
  }
  #end {
    display: block;
    padding: 30px 0px;
    background-color: #120e37;
    p {
      color: $white;
      font-family: $font-roboto;
      font-weight: 900;
      font-size: 14px;
      text-align: center;
      margin: 30px 0px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 95%;
  }
  main {
    #story {
      .logtext {
        img {
          margin: 0px 30px;
        }
      }
    }
    #work {
      article {
        @include make-col(4, 0px);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    #expertise {
      article {
        @include make-col(2, 0px);
        > div {
          &:nth-child(1),
          &:nth-child(3),
          &:nth-child(5) {
            border-right: solid $turqoise 1px;
          }
        }
        > div {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            border-bottom: solid $turqoise 1px;
          }
        }
        > div {
          &:nth-child(2),
          &:nth-child(4) {
            border-right: none;
          }
        }
      }
    }
  }
  header {
    nav {
      flex-direction: column;
      align-items: center;
      .menu {
        margin-left: 0px;
        li {
          margin-right: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  main {
    #story {
      .logtext {
        flex-direction: column;
        align-items: center;
        img {
          margin: 0px 0px 30px 0px;
          height: 100px;
          width: auto;
        }
        p {
          margin-bottom: 30px;
        }
      }
    }
    #work {
      article {
        @include make-col(3, 0px);
      }
    }
    #team {
      article {
        @include make-col(2, 10px);
      }
    }
  }
}

@media screen and (max-width: 470px) {
  header {
    nav {
      flex-direction: row;
      .menu {
        margin-left: auto;
        li {
          margin-right: 8px;
          &#bigmenu {
            display: none;
          }
          &#mobilemenu {
            display: block;
          }
        }
      }
    }
  }
  main {
    #expertise {
      article {
        @include make-col(1, 0px);
        > div {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            border-bottom: solid $turqoise 1px;
          }
        }
        > div {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            border-right: none;
          }
        }
      }
    }
    #work {
      article {
        @include make-col(2, 0px);
      }
    }
  }
}
