@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

.container {
  width: 58.75%;
  max-width: 1400px;
  margin: auto;
  height: auto;
}

header {
  background-image: url("../images/trees1.jpg");
  background-size: cover;
  background-position: center;
  overflow: auto;
  nav {
    height: 81px;
    display: flex;
    .logo {
      align-self: center;
    }
    .menu {
      display: flex;
      margin-left: auto;
      align-items: center;
      li {
        margin-right: 20px;
        a {
          color: $white;
          font-family: $font-roboto;
          font-size: 1.3rem;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          padding: 2px;
        }
        &:last-child {
          margin-right: 0px;
          padding-right: 0px;
        }
      }
    }
  }
  .intro {
    margin: 147px 0px 70px 0px;
    h1 {
      font-family: $font-playfair;
      font-weight: 900;
      font-size: 3.2rem;
      color: $white;
      text-align: center;
      text-transform: capitalize;
      padding-bottom: 60px;
    }
    p {
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $white;
      text-align: center;
    }
    button {
      margin: 46px 0px 46px 0px;
      margin-left: calc(50% - 60px);
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      color: $white;
      background: none;
      border-color: $white;
      height: 40px;
      width: 120px;
      border-radius: 2px;
      border-style: solid;
    }
    .navbul {
      display: flex;
      margin-left: calc(50% - 27.5px);
      margin-top: 81px;
      div {
        border-radius: 50%;
        border: solid $white 1px;
        height: 10px;
        width: 10px;
        margin-right: 5px;
        &:last-child {
          margin-right: 0px;
        }
        &.active {
          background-color: $white;
        }
      }
    }
  }
}

main {
  height: 2000px;
  #story {
    margin: 70px 0px;
    h1 {
      font-family: $font-playfair;
      font-weight: 700;
      font-size: 2.2rem;
      color: $title;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    h2 {
      font-family: $font-playfair;
      font-weight: 400;
      font-size: 1.4rem;
      color: $textsub;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 62px;
    }
    .logtext {
      // @include make-col(2, 116px);
      display: flex;
      img {
        margin: 0px 116px;
        height: 230px;
        width: 235px;
        margin-bottom: 29px;
      }
      p {
        margin-right: 10px;
      }
    }
    p {
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: $textsub;
      text-align: center;
    }
    button {
      // margin: 46px 0px 46px 0px;
      margin-left: calc(50% - 60px);
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 1.4rem;
      color: $turqoise;
      background: none;
      border-color: $turqoise;
      height: 40px;
      width: 120px;
      border-radius: 2px;
      border-style: solid;
    }
  }
  #clip {
  }
  #expertise {
  }
  #team {
  }
  #work {
  }
}
